.contacts-support-wrapper {
    display: flex;

    margin-bottom: 60px;
    justify-content: space-between;
}

/* contacts-form */

.contact-form {

    box-sizing: border-box;  
    width: 680px;
    background: #E5EAF8;
    padding: 42px 40px;
}

.contact-form fieldset {
    border: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
    box-sizing: border-box;    
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    font-size: 18px;
    line-height: 25px;
    background: #fff;
}

.contact-form input {
    height: 50px;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form input:hover,
.contact-form textarea:hover {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact-form input::placeholder {
    color: #1E0606;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-block {
    max-width: 290px;
    width: 100%;
}

.contact-line {
    display: flex;
    justify-content: space-between;
}

.contact-confirmation input[type="checkbox"] {
    display: none;
}

.confirm-label {
    display: block;
    background: url(../images/checkbox.svg) no-repeat 0 0;
    padding-left: 30px;
    cursor: pointer;
    margin: 15px 0;
}

.contact-confirmation input[type="checkbox"]:checked + .confirm-label {
    background: url(../images/checkbox-checked.svg) no-repeat 0 0;
}

.contact-submit {
    max-width: 106px;
}

/* support */

.support {
    padding: 0 0 0 20px;
    width: 380px;
    min-width: 300px;
    
}

.support p {
    margin: 0 0 20px
}

.support-statement {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}