/* Control panel */

.product_control_panel {
    display: flex;
}

.product_control_panel-wrapper {
    background-color: rgba(125, 151, 218, 0.2);
    padding: 30px 0;
}

.product_control_panel-apply {
    max-width: 81px;
    margin: 40px 60px;
}

.product_control_panel-title-wrapper {
    margin-bottom: 10px;
}

.product_control_panel-fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.costs-block {
    width:20%;
    min-width: 100px;
}

.color-block {
    width:15%;
    min-width: 100px;
}

.color-block input[type="checkbox"] {
    display: none;
}

.color-label {
    display: block;
    background: url(../../images/checkbox.svg) no-repeat 0 0;
    padding-left: 30px;
    cursor: pointer;
    margin: 16px 0;
}

.color-label:hover {
    text-decoration: underline;
}

.color-block input[type="checkbox"]:checked + .color-label {
    background: url(../../images/checkbox-checked.svg) no-repeat 0 0;
}

.delivery-block {
    width:20%;
    min-width: 150px;
}

.delivery-block input[type="radio"] {
    display: none;
}

.delivery-label {
    display: block;
    background: url(../../images/radio.svg) no-repeat 0 0;
    padding-left: 30px;
    cursor: pointer;
    margin: 16px 0;
}

.delivery-label:hover {
    text-decoration: underline;
}

.delivery-block input[type="radio"]:checked + .delivery-label {
    background: url(../../images/radio-checked.svg) no-repeat 0 0;
}

.amount-block {
    width:20%;
    min-width: 170px;
}

.amount-block input[type="radio"] {
    display: none;
}

.amount-block-wrapper {
    display: flex;
    margin-top: 18px;
}

.amount-label {
    width: 80px;
    height: 35px;
    margin: 0 0;
    background-color:#fff;
    text-align: center;
    line-height: 35px;    
}

.amount-label:hover {
    background-color: #EDDEEB;
}

.amount-block input[type="radio"]:checked + .amount-label {
    background-color:#F3D0DB;
}

/* Cost slider */

.cost-block-slider-wrapper {
    padding: 8px 0;
}

.cost-block-slider {
    -webkit-appearance: none;
    width: 70%;
    background: transparent;
  }

.cost-block-value-limits-wrapper {
    padding: 3px 0;
    display: flex;
}

.cost-block-value-limits {
    width: 38%;
}

.cost-block-value-limits:last-child {
    text-align: right;
}
  
.cost-block-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.cost-block-slider:focus {
    outline: none;
}

.cost-block-slider::-ms-track {
    width: 70%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.cost-block-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 8px solid #C29974;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -11px;
}

.cost-block-slider::-moz-range-thumb {
    border: 8px solid #C29974;
    height: 8px;
    width: 8px;
    border-radius: 12px;
    background: #ffffff;
    cursor: pointer;
}

.cost-block-slider::-ms-thumb {
    border: 8px solid #C29974;
    height: 8px;
    width: 8px;
    border-radius: 12px;
    background: #ffffff;
    cursor: pointer;
}
.cost-block-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.cost-block-slider::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: transparent;
}

.cost-block-slider::-moz-range-progress {
    background-color: #C29974;
    width: 100%;
    height: 4px;
    cursor: pointer;
    color: transparent;
}

.cost-block-slider::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 24px 0;
    color: transparent;
}
.cost-block-slider::-ms-fill-lower {
    background: #C29974;
}

.cost-block-slider::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.5);

}

.cost-block-slider::-ms-tooltip {
	display: none;
}

/* goods */

.container-goods {
    max-width: 1200px;
}
  
.goods-title {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.goods-price {
    font-weight: 700;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;     
    padding: 0;
}

.goods-items-wrapper {
    margin: 20px 10px;
}

.goods-items {
    display: block;
    position: relative;
}

.goods-button-wrapper {
    box-sizing: border-box;
    width: 380px;
    height: 385px;
    padding: 89px 0;  
}

.goods-picture {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.goods-button {
    width: 207px;
    height: 207px;
    background-color: rgba(229, 234, 248, 0);
    color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 29px;
    line-height: 207px;
    font-weight: 700;
}

a:hover .goods-button {
    background-color:  rgba(229, 234, 248, 0.9);
    color: #000
}

a:active .goods-button {
    background-color:  rgba(229, 234, 248, 0.67);
    color: #000
}