/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.contacts {
    margin-top: 29px; 
}

.contacts-title {
    word-spacing: 12px;
}

.contacts-support-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* support */

.support {
    padding: 0 0 0 20px;
    width: 380px;
    min-width: 300px;    
}

.support p {
    margin: 0 0 20px;
}

.support-statement {
    font-family: "Montserrat", Arial, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}