.contacts-support-wrapper {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}

/* support */

.support {
    padding: 0 0 0 20px;
    width: 380px;
    min-width: 300px;    
}

.support p {
    margin: 0 0 20px;
}

.support-statement {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}